
h1{
      background-color: #222;
    color: #ffd700;
    font-size: 50px;
     text-align: center;
}
body{
     align-items: center;
    background-color: #1e1e2f;

}
.calculator{
    align-items: center;
    background-color: #2d2d2d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100rem;
}
.buttons{
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    height: 70vmin;
    width: 70vmin;
    color: #4a4e69;
}
#display{
     align-items: center;
    background-color: white;
    margin: 0%;
    border-radius: 13%;
    font-size: 5rem;
     box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
}
button{
    margin-top: 5%;
    font-size: 8vmin;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    border: none;
    border-radius: 2rem;

}
button:hover{
    background-color: greenyellow;
    cursor: pointer;
    color:#4a4e69;
}